<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div id="menu-container">
            	<div class="container">
            
                </div>
            </div>
        
        <div id="main"><!-- Main -->
        	<div class="hr-invisible-small"></div>
        	<section class="fullwidth-background">
        		<div class="breadcrumb-wrapper" >
                    <div class="container"  >
                        <h4> Blogs </h4>
                        <h6><a href="index.html">Home</a> / Blog</h6>
                    </div>
                </div>                
            </section>
            <div class="hr-invisible-very-small"  ></div>
            <div class="clear"></div>
            <section id="primary" class="content-full-width transparent-bg"  ><!-- Primary Section -->
                <div class="clear" ></div>
            	<div class="fullwidth-section blog-items"  >
                    <div class="container"  >
                   <!-- //imp    -->  <div class="column dt-sc-one-third first" ng-repeat="u in bc.blogsAccept" >
                            <article class="blog-entry"  >
                                <div class="entry-thumb" >
                                    <a href="#">
                                        <!-- <img title="" alt="" src="images/blog-img4.jpg"> -->
                                    </a>
                                </div>
                                <div class="entry-details"  >
                                    <div class="hr-invisible-very-small"  ></div>
                                    <div class="entry-title" >
                                        <h3><span ng-bind="u.blogtitle"></span></h3>
                                    </div>
                                    <div class="entry-meta">
                                        <h6>Posted<br>On</h6>
                                    </div>
                                    <div class="entry-metadata">
                                        <div class="author">
                                            By<a href="#"> <span ng-bind="u.name"></span></a>
                                        </div>
                                        <div class="tags">
                                            <!-- | <a href="#">category</a> -->
                                        </div>
                                        <div class="hr-invisible-very-small"></div>
                                        
                                        <p><span ng-bind="u.blogDescription"></span></p>
                                   
                                    <div class="clear"></div>
                                </div>
                                <div class="entry-body">
                                    <div class="alignleft">
                                        <p class="comments">
                                            <a title="Comment on Latin words Ipsum" href="#">
                                                <span class="fa fa-comment"> </span>
                                               <!--  Comments -->
                                            </a>
                                        </p>
                                        <p class="likes">
                                            <a title="Comment on Latin words Ipsum" href="#">
                                                <span class="fa fa-heart"> </span>
                                                <!-- Edit -->
                                            </a>
                                        </p>
                                    </div>
                                    <div class="alignright">
                                        <a href="" ng-click="bc.get(u)" type="button"  class="read-more">
                                            Read More
                                            <span class="fa fa-long-arrow-right"></span>
                                        </a>
                                    </div>
                                    </div>
                                    </div>
                                    </article>
                                
                                </div>
                                </div>
                                </div>
                            
                           
                        <!-- <div class="pagination">
                            <ul>
                                <li class="current_now"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                            </ul>
                            <div class="next-post"> <a href="#"><span class="fa fa-long-arrow-right"></span> </a> </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="hr-invisible"></div> -->
           
           
            </section>
            
             <!-- End of Primary Section -->   
        </div><!-- End of Main -->
      
      
               
<!-- End of Wrapper -->
</body>
</html>