<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<p> Welcome {{currentUser.name}} You Are Here An {{currentUser.role}} </p>
<div class="column-content-region col-sm-6" style="margin-left: 4em;" ng-controller="BlogController as bcc" >

<h3>Blogs</h3>
<div ng-init="bcc.notAcceptedBlogs()">
<!-- {{bcc.blogsNotAccepted}} -->    <!-- why we use filter if we have function -->
<div class="abc" ng-repeat="bna in bcc.blogsNotAccepted" >
<h1>TITLE:{{bna.blogtitle}} </h1>
<h6>Authored By:{{bna.name}} </h6><h6>Created On:{{bna.timeStamp}} </h6> 
<h6>STATUS:{{bna.status}} </h6>
<h3>DESC:{{bna.blogDescription}}</h3>
<br>
<a href="" ng-click="bcc.adminGet(bna)"><input type="button" name="button" color="orange"  value="Read More"/></a>
<p>--------------------------------------</p>
</div>
<div ng-controller="JobController as jc">
<p>Jobs</p>
<div ng-init="jc.BringAllAppJobs()">
     <div ng-repeat="j in jc.appjobs"> 
      
 <h1> Job TITLE:{{j.jobname}} </h1>
<h6>Authored By:{{j.userName}} </h6><h6>Applied On: {{j.timeStamp}}</h6> 

        </h6>
        </div>
        </div>
        
</div>
<hr>
</div>
</div>


</body>
</html>